{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Alysis</title>
</head>
<body>
    <div class="container">
        <!--modals-->
        <div id=new-data-set-modal>
            <div id="new-data-set-modal-close">
                <button id="new-data-set-modal-close-x">
                    <strong>X</strong>
                </button>
            </div>
            <p id="new-data-set-modal-title">New data set</p>
            <form id="new-data-set-modal-form">
                <div id="new-data-set-modal-form-container">
                            
                    {% csrf_token %}
                    <div class="centered-input-div">
                        <input type="text" name="new-data-set-name" placeholder="Data set's name" class="data-set-name-input">
                    </div>
                    <p id=p-info>If you want to delete a data row just keep it empty!</p>
                    <div id="new-data-append">                    
                        <input type="text" name="data-0" id="data-input_0" class="data-input" placeholder="Data">
                    </div>
                    <div class="centered-input-div">
                        <button id="add-new-row">+</button>
                    </div>
                    <div class="centered-input-div">
                        <button id=send-new-data-set>Create</button>
                    </div>

                </div>

            </form>
        </div>
        <header>
            <div id="title-div">
                <h1 id="title-h1">Alysis</h1>
                <p id="title-p">Your data analysis tool</p>
            </div>
        </header>
        <main>
            <section id="data-sets">
                <div id="new-data-set-div">
                    <button id="new-data-set-button">
                        Create data set
                    </button>
                </div>
            </section>
        </main>
    </div>

</body>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script type="text/javascript">

</script>
</html>