{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Alysis</title>
</head>
<body>

    <div class="container">
        <header>
            <div id="title-div">
                <h1 id="title-h1">Alysis</h1>
                <p id="title-p">Your data analysis tool</p>
            </div>
        </header>
        <main>
            <section id="data-sets">
                <div id="new-data-set-div">
                    <button id="new-data-set-button">
                        Create data set
                    </button>
                </div>
            </section>
        </main>
    </div>

</body>
</html>